<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>
<!--<form action="/productdemo1/findAll1" method="post">
    <input type="submit" value="查看所有产品-硬编码">
</form>
<br>
<h4>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</h4>

<form action="/productdemo2/findAll2" method="post">
    <input type="submit" value="查看所有产品-discovery">
</form>
<br>
<h4>&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;&#45;</h4>-->

<form action="/product/findAll" method="post">
    <input type="submit" value="(springcloud)查看所有产品">
</form>
<br>
<h4>------------------------------------------------------</h4>
<form action="/product/findById/${id}" method="get">
    <input type="submit" value="(springcloud)根据id查询产品">
</form>
</body>
</html>